Checks: '*,-llvmlibc-*,-modernize-use-trailing-return-type,-cppcoreguidelines-macro-usage,-cppcoreguidelines-avoid-non-const-global-variables,-bugprone-macro-parentheses'
HeaderFilterRegex: '*'
WarningsAsErrors: '*'